[general]
env : Xtreme_preprod


[Xtreme_preprod]
username : bot@xtreme.com
password : 
url : https://preprod.xtreme.com/XtremeAPI


[Xtreme_prod]
username : bot@xtreme.com
password : 
url : https://www.xtreme.com/XtremeAPI


[endpoints]
token : /Token
update : /StaffUpdateIncident
create : /StaffAddIncident
customer : /oCustomer?companyid={}&ProductLine={}

